<!doctype html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover" />
	<meta name="apple-mobile-web-app-capable" content="yes">

	<title>{{ site.title.html() }}</title>
</head>
<body>

	{% block body %}{% endblock %}

	{# craft.vite.script("src/js/main.js") #}
</body>
</html>
